:root {
    --maincolor: #b4b10c;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Start Grid System */
@media (min-width: 576px) {
    /*  Small Devices  => Landscap Phones */

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    /*  Medium Devices  => Tablets */

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    /* Desktop */

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    /* Large Screens */

    .container {
        max-width: 1140px;

    }
}

/* End Grid System */


.container {

    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

/* Start Setting box */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: rgba(54, 54, 54, 0.5);
    z-index: 1000;
    width: 200px;
    min-height: 100vh;
    transition: .5s;
    text-align: center;
}

.setting-box.open {
    left: 0;
}

.setting-box .spain-seting {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: rgba(54, 54, 54, .5);
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.setting-box .spain-seting .sett {
    width: 30px;
    padding: 8px 0;
    font-size: 18px;
    color: white;
}

.setting-box .setting-container {
    text-align: center;
}



.setting-box .option-box h5 {
    font-size: 14px;
    margin: 0;
    color: white;
}

.setting-box .setting-container .option-box {
    padding: 20px;
}

.setting-box .setting-container .option-box h4 {
    margin: 0;
    color: white;

}

.setting-box .setting-container .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.setting-box .setting-container .option-box .colors-list li {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    opacity: .5;
    display: inline-block;
}

.setting-box .setting-container .option-box .colors-list li.active {
    opacity: 1;
    border: 2px solid white;
}

.setting-box .setting-container .option-box .colors-list li:first-child {
    background-color: #b4b10c;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(2) {
    background-color: #1AB7EA;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(3) {
    background-color: #E51400;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(4) {
    background-color: #00C300;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(5) {
    background-color: #FA6800;
}

.option-box {
    background-color: #767676a7;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.setting-box .option-box .yes,
.setting-box .option-box .no {
    width: 50px;
    background-color: var(--maincolor);
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
    margin: 15px 5px 0 5px;
}

.setting-box .option-box span.active {
    opacity: 1;
}

.reset-opthions {
    background-color: rgb(200, 21, 21);
    border-radius: 5px;
    width: 100%;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    display: flex;
    font-size: 15px;
    cursor: pointer;
}

/* End Setting box */

/* Start Nav Bullet */
.nav-bulits {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}

.nav-bulits .bullet {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid var(--maincolor);
    border-radius: 50%;
    margin: 15px auto;
    cursor: pointer;
    position: relative;

}

.nav-bulits .bullet .tooltip {
    width: 120px;
    background-color: var(--maincolor);
    position: absolute;
    color: white;
    padding: 6px 10px;
    right: 32px;
    top: -10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
    border-radius: 5px;
    display: none;
}

.nav-bulits .bullet:hover .tooltip {
    display: block;
}

.nav-bulits .bullet .tooltip::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--maincolor);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* End Nav Bullet  */



/* Start Landing Page */

.landing-page {
    min-height: 100vh;
    background-image: url('/imgs/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

}

.landing-page .Overlay {
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;

}

.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 15px;


}

.header-area .logo {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;

}

.header-area .links-container {
    width: 100%;
    text-align: right;
}

.header-area .links {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0;

    margin-right: 10px;
}

.header-area .links li {
    margin-left: 15px;
    display: inline-block;
}

.header-area .links li a {
    color: white;
    text-decoration: none;
}

.header-area .links li a:hover,
.header-area .links li a.Active {
    color: var(--maincolor);
    transition: .3s;
}

.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}

.header-area .toggle-menu:focus {
    outline: none;
}

.header-area .toggle-menu span {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;

}

.header-area .toggle-menu.menu-active::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: 7px;
    right: 25px;
}

.Intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0 40px;
}

.Intro h1 {
    text-align: center;
    font-size: 34px;
    margin: 0 0 12px;

}

.Intro p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

.Intro h1 span {
    color: var(--maincolor);
}

@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }

    .header-area .links.open {
        background-color: white;
        padding: 10px;
        display: block;
        position: absolute;
        right: 10px;
        top: 50px;
        width: 40%;
        border-radius: 5px;
        text-align: left;
    }

    .header-area .links.open li {
        display: block;
        margin: 10px;
    }

    .header-area .links.open li a {
        color: var(--maincolor);
        font-weight: bold;

    }

    .header-area .toggle-menu {
        display: inline-block;
    }
}

/* End Landing Page */

/* Start About Us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

@media (max-width: 768px) {

    /*  Medium Devices  => Tablets */
    .about-us {
        display: block;
        text-align: center;
    }
}

.about-us .info-box {
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--maincolor);
    margin: 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0%;

}


.about-us .img-box {
    flex: 1;
    text-align: center;

}

.about-us .img-box img {
    width: 350px;
    text-align: center;
}

/* End About Us */

/* Start Skills  */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--maincolor);
    margin: 0 0 50px;
    text-align: center;
}

.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin: 15px 50px;
}

@media (max-width: 768px) {

    /*  Medium Devices  => Tablets */
    .skills .skill-box {
        display: block;
    }
}

.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 768px) {

    /*  Medium Devices  => Tablets */
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 10px;
    }
}

.skills .skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    transition: all .5s;
}

/* End Skills */

/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--maincolor);
    margin: 0 0 50px;
    text-align: center;
}

.gallery .images-box {
    text-align: center;

}

.gallery .images-box img {
    width: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--maincolor);

}

.popup-box img {
    max-width: 100%;
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15ps;
    text-align: center;
    font-size: 20px;
    background-color: var(--maincolor);
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 50%;

}

/* End Gallery */

/* Start Contact Us */
.contact {
    background-image: url('/imgs/Contact-Us.jpg');
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;

}

.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.907);

}

.contact .container {
    position: relative;
    z-index: 2;
    /* background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px; */
}

.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--maincolor);
    margin: 0 0 50px;
    text-align: center;

}

.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    padding: 2px;
}

.contact form .left {
    float: left;
    width: 49%;
}

.contact form .right {
    float: right;
    width: 49%;
}

@media (max-width: 768px) {

    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }

}

.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.371);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 2px solid var(--maincolor);
}

.contact form input {
    height: 40px;
}

.contact form textarea {
    height: 150px;
    resize: none;
}

.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--maincolor);
    color: white;
    cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .5s;
}

.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: .5s;
}

.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .5s;
}

/* End Contact Us */